.content-container{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 20px 70px;
    height: 100vh;
}

.meals-container{
    height: 100vh;
    display: grid;
    gap: 20px;
}

.meal-container{
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}

.meal-container .meal-image-card{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    padding: 21px 20px 21px 30px;
    min-height: 100vh;
    width: 275px;
    background-color: #ffb179;
    border-bottom-right-radius: 28.5px;
}

.meals-display-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

body{
    margin: 0;
    font-family: "Inter-Bold", Helvetica;
    display: flex;
    flex-direction: column;
}

main{
    overflow-y: auto;
    height: 100vh;
    margin-left: 250px;
}

h1 h3{
    text-decoration: none;
    color: black;
}
.meal-infocards{
    display: flex;
    flex-direction: row;
}

.meals-subtitle{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    color: gray;
}

.meal-display{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.meal-display .meal-info{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.meal-display .meal-info .meal-title{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.meal-name{
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    text-align: left;
    text-decoration: none;
    color: black;
}

.meal-category{
    width: 100px;
    font-size: 0.8em;
    margin: 0.5em;
    background-color: #ffb179d8;
    border-radius: 15px;
    padding: 3.5px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.meal-area{
    width: 100px;
    font-size: 0.8em;
    margin: 0.5em;
    background-color:#60d371e1;
    border-radius: 15px;
    padding: 3.5px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.meal-subtitle-ing{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-top: 5px;
    color: #4E4E4E;
}

.meal-instructions{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #4E4E4E;
}

.meal-ingredients-list{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #4E4E4E;
}

.meal-measure{
    padding: 2px;
    border-radius: 3px;
    border: 0.5px solid #4E4E4E;
}