.info-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 5em;
    border-radius: 10px;
}

.info-container h1 h3{
    text-decoration: none;
    color: black;
}

.info-container:hover{
    background-color: #fff3eab6;
}

.meal-info{
    display: flex;
    flex-direction: column;
}

.meal-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.meal-image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}