.search-form{
    flex-direction: column;
    width: 30rem;
}

.search-bar{
    width: 100%;
}

.search-results{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    max-height: 350px;
    width: 30rem;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
    background: #fff;
}

.search-bar{
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 10px;
}


.search-results ul li{
    list-style: none;
}

.meals-search-list h1 h3{
    text-decoration: none;
    color: black;
}

.meal-search-card a{
    text-decoration: none;
}

.meals-search-list{
    padding: 0;
}

